html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.carousel,
.carousel-item,
.active {
	height: 100%;
}

.carousel .carousel-indicators li {
	width: 20px;
	height: 20px;
}

.carousel-inner {
	height: 100%;
}

.carousel {
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}